<h1>Eat Da Burger!</h1>

<div id="ready">Prepared:
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div id="devoured">Devoured:
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
            {{/if}}
        {{/each}}
    </ul>
</div>

<form class="create-form">
    <div class="form-group">
        <label for="new-burger">Enter Burger:</label>
        {{!-- <textarea name="new-burger" id="new-burger-input" cols="30" rows="2"></textarea> --}}
        <input type="text" id="new-burger" name="new-burger">
    </div>
        
    <button type="submit">Prepare Burger</button>

</form>